services:
  web:
    build: .
    container_name: adventurevictoria
    ports:
      - "3010:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://strider:5785Ch00@mongodb.adventuretube.net:27017/adventuretube?authSource=admin
